<div id="myCarousel" class="carousel slide text-dark" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner ">
      <div class="carousel-item active">
        <img src="https://assets.adidas.com/images/w_450,f_auto,q_auto/5fe93efae8ee4fa7a285ae370134c365_9366/GV8743_00_plp_standard.jpg" class="card-img-top" style="height: 80vh; object-fit: cover; width: 100%;" alt="...">

        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Summer sales</h1>
            <p>Some representative placeholder content for the first slide of the carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://assets.adidas.com/images/w_450,f_auto,q_auto/766a5036f32c46b3bfcaae8d00c28bbc_9366/HN1932_21_model.jpg" class="card-img-top" style="height: 80vh; object-fit: cover; width: 100%;" alt="...">

        <div class="container">
          <div class="carousel-caption">
            <h1>Best in stock</h1>
            <p>Some representative placeholder content for the second slide of the carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://assets.adidas.com/images/w_450,f_auto,q_auto/5063649719ce4de9b88aadf800a36ad2_9366/HE6885_000_plp_model.jpg" class="card-img-top" style="height: 80vh; object-fit: cover; width: 100%;" alt="...">

        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Free Delivery</h1>
            <p>Some representative placeholder content for the third slide of this carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  
<div class="container marketing">